$background-grey: #f4f4f4;

@mixin board-cell($size) {
    padding: 100%/$size/2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comfortaa", serif;
    text-align: center;
}

h1 {
    font-family: "Bangers", serif;
    font-size: 7em;
    color:darkred;
    display:inline;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    padding: 2px 17px 2px 8px;
    border-radius: 15px;
}

body {
    font-family: "Comfortaa", sans-serif;
    margin: 0px;
    background-color: $background-grey;
}

.rules-body {
    background-image: url(/images/grid.jpg);
}

.rules-title {
     font-family: "Bangers", serif;
     font-size: 66px;
     color: darkred;
     display: inline;
     border-radius: 20px;
     line-height: 115px;
     padding: 10px;
     background-color: white;
     margin-left: 35%;
 }

.content-wrapper {
    max-width: 750px;
    margin: auto;
}

ul.rules-list {
     background-color: $background-grey;
     padding: 26px;
     border-radius: 15px;
     margin: 0px 25px;
 }

li.rule {
     padding: 3px;
     font-size: 18px;
}

ul.game-instructions {
    display: flex;
    padding: 0px;
}


li#welcome {
	padding: 0px 10px 0px 5px;
	border-left: solid tomato;
	text-align: center;
	list-style: none;

        &:last-child {
            border-right: solid tomato;
        }
}

div.top-bar {
    background-image: url(/images/grid.jpg);
    line-height: 135px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.board {
    background-color: tomato;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

.black-player {
    .board-cell:hover .overlay {
        background-color: black;
    }
}

.white-player {
    .board-cell:hover .overlay {
        background-color: white;
    }
}

.board-cell {
    display: inline-block;
    position: relative;
    @include board-cell(9);

    .overlay {
        position: absolute;
        box-sizing: border-box;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        transition: background-color .25s;
    }

    &.small {
        @include board-cell(9);
    }

    &.medium {
        @include board-cell(13);
    }

    &.large {
        @include board-cell(19);
    }
}

.black-cell {
    .overlay {
        background-color: black;
    }
}

.white-cell {
    .overlay {
        background-color: white;
    }
}

.split-wrapper {
    display: flex;
    @media screen and (max-width: 640px) {
        flex-direction: column;
    }
    width: 100%;
}

.split-item {
    flex-grow: 1;
    box-sizing: border-box;
    border: solid tomato 1px;
    border-radius: 22px;
    background-color: white;
    margin: 0px 10px;
}

.split-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    input {
        margin-top: 20px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        outline: none;
        width: 100%;
        max-width: 300px;
    }

    input[type="radio"] {
        opacity: 0;
        width: 0px;
        height: 0px;

        &:checked ~ label {
            color: tomato;
            transition: color .25s;
        }
    }

    input[type="submit"] {
        padding: 10px;
        background-color: tomato;
        color: white;

        &:focus, &:hover {
            background-color: inherit;
            color: tomato;
            transition: background-color .25s, color .25s;
        }
    }

    input[type="text"] {
        background-color: inherit;
        border-bottom: solid tomato;
        border-width: 2px;

        &:focus {
            border-width: 3px;
            transition: background-color .25s, border-width .25s;
        }

        height: 3em;
        box-sizing: border-box;
        display: block;
    }
    
    .radio-parent {
        display: flex;
        margin-top: 20px;
        width: 100%;
        max-width: 300px;
    }

    .radio-wrapper {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
    }
}
