body {
    font-family: Roboto;
    background-image: url(/images/clouds.jpg);
    background-color: #F5F7FA;
    background-size: cover;
    color: #2d2d2d;
}

a {
    text-decoration:none;
}

.card {
    background-color:white;
    box-shadow: 2px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05);
    margin: auto;
    margin-top: 20px;
    max-width: 750px;
    padding: 20px;
}

.member-container{
    display:flex;
    flex-direction: column;
}
.person-photo img{
    padding-top:10px;
    height:30%;
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
}

.member {
    padding: 20px;

    box-sizing: border-box;
    flex-grow:1;
    flex-basis:50%;

    background-color:white;
}

.toplevel{
    position:relative;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size:30px;
    color:#546076;
    font-weight:100;
    text-align:center;
    width: 100%;
}

.Mission{
    font-size:40px;
    font-weight:100;
    padding-top:16px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.Person-Name{
    font-size:20px;
    font-weight:600;
    padding-top:16px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.member-text {
    position:center;
    display: block;
    margin: auto;
    font:Roboto;
    font-weight:400;
}

.mission-text {
    position:center;
    display: block;
    margin: auto;
    width:50%;
    width:800px;
    font:Roboto;
    font-weight:400;
    text-align:center;
    padding-top:1%;
}
