<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Us</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css" media="screen">
        <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
    </head>

    <body>
        <div class="card">
            <h2>Hello!</h2>
            <p>
                Welcome to our Go website. We are Group 4 from CS 290. Our mission is very ambitious - to get an A in CS 290, Web Development. Despite the immense difficulty of this task, we did our best to bring you this website, so that you may enjoy playing the game of Go with your friends. After Google's AlphaGo's victory against the best human Go player, there's not really a point to playing against a computer - you will lose.
            </p>
        </div>
        <div class="member-container card">
        <h2>Group Members</h2>
        <div class="toplevel">
        <article class="member">
            <div class="member-content">
                <div class="person-photo" alt"">
                    <img src="/images/danila.jpg" alt="daa">
                </div>
                <h2 class="Person-Name" >Danila Fedorin</h2>
                <p class="member-text">
                We don't need a weakened government but a strong government that would take responsibility for the rights of the individual and care for the society as a whole.
                </p>
            </div>
        </article>

        <article class="member">
            <div class="member-content">
                <div class="person-photo" alt"">
                    <img src="/images/matthew.jpg" alt="daa">
                </div>
                <h2 class="Person-Name" >Matthew Sessions</h2>
                <p class="member-text">
                Education is a weapon whose effects depend on who holds it in his hands and at whom it is aimed.
                </p>
            </div>
        </article>

        <article class="member">
            <div class="member-content">
                <div class="person-photo" alt"">
                    <img src="/images/michael.jpg" alt="daa">
                </div>
                <h2 class="Person-Name" >Michael Huang</h2>
                <p class="member-text">
                To be fair, you have to have a very high IQ to understand Rick and Morty. The humour is extremely subtle, and without a solid grasp of theoretical physics most of the jokes will go over a typical viewer's head. 
                </p>
            </div>
        </article>

        <article class="member">
            <div class="member-content">
                <div class="person-photo" alt"">
                    <img src="/images/claire.jpg" alt="daa">
                </div>
                <h2 class="Person-Name" >Claire Cahill</h2>
                <p class="member-text">
                Unfortunately these two properties are only implemented in Firefox and are behind a -moz- prefix. Here’s how you can use the various 
                </p>
            </div>
        </article>
        </div>
        </div>
    </body>
</html>
