<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Bangers" rel="stylesheet">
    </head>
    <body>
        <div class="content-wrapper">
	    <div class="top-bar"><h1 class="title">GO</h1></div>
            <%= content %>
        </div>
    </body>
</html>
