<!DOCTYPE html>
<html>
	<head>
            <link rel="stylesheet" href="../../../public/css/main.css"> </link>
	</head>
   <body class="rules-body">
	   <h2 class="rules-title">Rules of Go</h2>
	 	<ul class="rules-list">
		   <li class="rule">The main object of the game is to cover more surface area of the board with your color (either black or white). Dots (sometimes referred to as “stones”) are placed at the intersections of lines.</li>
		   <li class="rule">Once a dot is placed, it cannot be removed. However, it can be “captured” by the other player if he/she completely surrounds a group of dots.</li>
		   <li class="rule">Every dot captured by a player earns him/her a point.</li>
		   <li class="rule">Points are also earned for the dots of that player’s color remaining on the board at the end of the game.</li>
		   <li class="rule">The player with the most points at the end of the game is the winner.</li>
		   <li class="rule">Dots are placed one at a time. Black plays first.</li>
		   <img src=go-example.jpg>
		   <li class="rule">This diagram, (taken from <a href=https://www.britgo.org/intro/intro2.html>britgo</a>) shows the black player capturing a white stone at a (location a shows an example of a black “eye”). The black player has 15 points of territory - 10 in the bottom right corner and 5 at the top of the board. They also earn a point for capturing a white dot at location a, so their total is 16 points. The white player has 17 points - 11 along the left side and 6 in the top right corner. Therefore, the white player would win by 1 point.</li>
		   <li class="rule">Each player has an endless amount of dots to place.</li>
		   <li class="rule">A player can choose to pass on a turn. This usually occurs when the player cannot place any more dots, if they are able to place it in their own “eye” or the “eye” of the other player, causing it to be captured. The game ends if both players to pass their turn.</li>
		   <li class="rule">Strings of dots can only be formed when dots are horizontally or vertically adjacent (diagonals don’t count).</li>
		   <li class="rule">A player may not self-capture. A self-capture would occur if a dot was placed inside a group of the opposite color.</li> 
		   <li class="rule">For additional rules, check out <a href=https://www.britgo.org/intro/intro2.html>this page.</a></li>
       		</ul>
   </body>
</html>
